.cart {
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: var(--light);
  overflow: auto;
  padding: .5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
  border-bottom-left-radius: .5rem;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: .5rem;
  margin: 1rem 0;
}

.cart .close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart .close:hover {
  text-decoration: underline;
  cursor: pointer;
}

.cart-closed {
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--secondary);
  border-radius: 50%;
  padding: .25rem;
  width: 50px;
  height: 50px;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 .5rem 1rem 0;
}
.close{
  cursor: pointer;
}


.cart-toggle {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  z-index: 100;
}

.cart-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  z-index: 10;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
}

.cart-panel {
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}

.cart-items-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .cart {
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: inherit;
  }

  .cart-closed {
    margin: 0 auto;
  }

  .navbar-collapse {
    justify-content: center;
  }

  .navbar .navbar-collapse .me-auto,
  .navbar .navbar-collapse .ms-auto {
    margin: 0;
  }

  .cart-toggle {
    top: 0;
    right: 0;
  }
  .cart-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    z-index: 10;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  }
}

.cart-panel {
  display: flex;
  flex-direction: column;
  height: 100%; /* make sure it fills the entire height of its parent */
}

.checkout-container {
  margin-top: auto; /* push to the bottom */
  padding: 1em; /* padding for aesthetics */
  background-color: #f4f4f4; /* give it a different background to distinguish */
  border-top: 1px solid #ddd; /* separating line */
}

.checkout-button {
  padding: 15px 30px; /* make it larger */
  font-size: 1.2rem; /* increase font size */
  background-color: #0d6efd; /* desired color */
  color: white; /* text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.checkout-button:hover {
  background-color: #0056b3;
}
